<!--
<h1>Inline Template</h1>

<fa-other>
  <div><p>This won't be displayed it will be thrown away because ng-conent isn't used.</p></div>
</fa-other>

&lt;!&ndash;another.component.html is using the ng-content directive which replaces code between a custom component.&ndash;&gt;
<fa-another>
  <h1>First content replaced with ng-content</h1>
</fa-another>
<fa-another>
  <p>Different content provied by ng-content</p>
</fa-another>
-->
<h1>Root Component</h1>
<app-databinding></app-databinding>
<hr>
<h1>Component LifeCycle</h1>
<app-lifecycle *ngIf="!delete"></app-lifecycle>
<button (click)="delete = true">Click to Delete!</button>
