<h1>
  USER COMPONENT!
</h1>
<!--Without the slash it will add an additional user localhost:4200/user/user-->
<!--<a [routerLink]="['user']">User (RelativePath)</a>-->
<!--With the slash it will NOT add an additional user localhost:4200/user/-->
<!--<a [routerLink]="['/user']">User (AbsolutePath)</a>
<br>-->
<a [routerLink]="['/../']" [queryParams]="{analytics: 42}">Home</a> |
<button (click)="goHome()">Go Home!</button>
<hr>
<p>
  Current User Id: [{{id}}]
</p>
<hr>
<h1>Children Router Outlet</h1>
<a [routerLink]="['details']">Details</a>
<a [routerLink]="['edit']">Edit</a>
<router-outlet></router-outlet>